{{ define "main" }}
{{ partial "header-news-posts-banner.html" . }}
<main class="mt4 center mw7 ph3 ">
  <div id='{{ .Param "main_id" }}'>
    <h1>{{ .Title }}</h1>

    {{ if .Date }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <div class="posting_date__news_container">
      <p>
        <small>Posting date: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></small>
      </p>
    </div>
    {{ end }}
    
    <div class="news__single_post_container">
      {{ if .Params.img_url }}
        {{ if eq .Params.float_featured_img "TRUE" }}
        <div class="float_featured_img">
          <img src="{{ .Params.img_url }}"
               alt="{{ .Params.alt_txt }}" 
               style="height: {{ .Params.featured_img_height }}" />
        </div>
        {{ else }}
          <div>
            <img src="{{ .Params.img_url }}" alt="{{ .Params.alt_txt }}">
          </div>
        {{ end }}
      {{ end }}
      <div>
        {{ .Content }}
      </div>
    </div>
    {{/*  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}  */}}
  </div>
  <nav class="nav__prev_next" role="navigation" aria-label="News post navigation menu">
    {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}">← Previous</a>
    {{ end }}
    {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}">Next →</a>
    {{ end }}
  </nav>
</main>
{{ end }}
