<div class="flex__header_nav_container">
  <header class="nav__header slide close" role="banner" aria-label="Logo title container">
      <ul id="navToggle" class="burger slide close">
          <li></li>
          <li></li>
          <li></li>
      </ul>
      <div class="flex__logo_title_container">
        {{- with resources.Get "images/logos/rematriation-logo-new.svg" }}
          <img src="{{ .RelPermalink }}" alt="">
        {{- end}}
        <h1 class="logo_text">
          <a class="navbar-brand db" href="/index.html">{{ site.Title }}</a>
        </h1>
      </div>
  </header>
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>
